.container{
  position: absolute;
  width: 800px;
  top: 20px;
}

.wrapper-infos{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;

  /* right: 20px; */
}


.heart-wrapper{
  display: flex;
  flex-direction: row;
}

.heart {
  margin-left: 5px;
  width: 25px;
  height: 25px;
}

.heart-full {
  fill: red;
}

.heart-empty {
  fill: gray;
  opacity: 0.5;
}