body{
  font-family: 'Press Start 2P', cursive;
  background-color: beige;
  overflow: hidden;
}

canvas{
  width: 100vw;
  height: 100vh;
}

.main-menu-container{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0px;
  background-color: black;
  color: white;
  font-size: 36px;
  z-index: 10
}

.main-menu-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.counter-show{
  display: none;
}

.btn{
  border: white solid 5px;
  padding: 8px 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}


.btn:hover{
  background-color: white;
  color: black;
}

.btn-restart{
  display: none;
}

.container{
  position: absolute;
  width: 100vw;
  top: 20px;
}

.wrapper-infos{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;

  /* right: 20px; */
}

.counter-wrapper{
  /* font-family: 'Press Start 2P', cursive; */
  font-size: 26px;
}


.char-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.heart {
  margin-left: 5px;
  width: 25px;
  height: 25px;
}

.heart-full {
  fill: red;
}

.heart-empty {
  fill: gray;
  opacity: 0.5;
}

.item-bar{
  position: relative;
  width: 100px;
  height: 10px;
  border: black solid 1px;
  background-color: rgba(155,155, 155);
  z-index: 0;
}

.item-health{
  position: relative;
  /* width: 100%;
  height: 100%; */
  width: 0%;
  height: 100%;
  margin-left: 0%;
  background-color: #0de40d;
  z-index: 99;
}